/* STYLE */
@import url('../../fonts/fontiran.css');
body {
	margin: 0;
	padding: 0;
	font-family: IRANSans !important;
	font-weight: 400;
	font-size: 13px;
	color: #333;
	line-height: 20px;
	background-image: url('../images/bgb.jpg');
	background-size: 100% auto;
	background-color: #cfcfcf;
	background-attachment: fixed;
}
textarea , input , select , option {
	box-sizing: content-box;
	border-radius: 5px;
	font-family: IRANSans !important;
	font-weight: 300;
	font-size: 12px;
}
input  , select {
	border:1px solid #ccc;
	padding: 0;
	text-indent: 10px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-family: IRANSans !important;
	font-weight: 300;
	font-size: 12px;
}
input[type=submit] {
	box-sizing: content-box;
	background-color: green;
	border:1px solid green;
	cursor: pointer;
	color: #fff;
	text-align: center;
	font-size: 13px;
}
a {
	text-decoration: none;
	color: blue;
}
a:hover {
	opacity: .5;
	transition: .3s;
}
hr {
	border: 0;
	border-bottom: 1px solid #ccc;
}
h1,h2,h3 {
	font-weight: 500;
}
b {
	font-weight: 500;
}

.regform {
	direction:rtl;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
a.abutton {
	display: block;
	padding: 5px;
	border-radius: 5px;
	max-width: 200px;
	box-sizing: content-box;
	background-color: #4cae4c;
	border:1px solid #4cae4c;
	cursor: pointer;
	color: #fff;
	text-align: center;
}
#logo {
	max-width: 700px;
	background-color: #444;
	color: #fff;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: center;
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;

-webkit-box-shadow: 10px 10px 6px -9px rgba(0,0,0,0.24);
-moz-box-shadow: 10px 10px 6px -9px rgba(0,0,0,0.24);
box-shadow: 10px 10px 6px -9px rgba(0,0,0,0.24);

}

#content {
	max-width: 310px;
	background-color: #fff;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	direction: rtl;

-webkit-box-shadow: 10px 10px 6px -9px rgba(0,0,0,0.24);
-moz-box-shadow: 10px 10px 6px -9px rgba(0,0,0,0.24);
box-shadow: 10px 10px 6px -9px rgba(0,0,0,0.24);

}

#content .loginform {
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	float: right;
}

#tabmenu {
	border-bottom: 1px solid #bbb;
	height: 35px;
}

#tabmenu a {
	display: block;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 5px;
	border: 1px solid #bbb;
	border-top: 2px solid #999;
	height: 33px;
	line-height: 34px;
	text-decoration: none;
	color: #333;
	background-color: #eee;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	font-weight: 500;
	font-size: 13px;
}
#tabmenu a:hover {
	background-color: #ddd;
	opacity: 1;
}
#tabmenu a.active {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}
#tabmenu a.logoutbutton {
	color: #fff;
	float: left;
	border: 0;
	background-color: transparent;
	background-color: #eb4034;
	border-radius: 5px;
	padding: 0;
	height:30px;
	line-height:28px;
	padding-left: 10px;
	padding-right: 10px;
}
#tabmenu a.logoutbutton:hover {
	opacity: .7;
}

.divtables {
	width:99%;
	overflow:auto;
	padding:5px;
	direction: rtl;
	margin-left: auto;
	margin-right: auto;
}
.divtables .tablelist {
	width: 100%;
	min-width: 600px;
}
.tablelist {
	background: #ccc;
	font-weight: normal;
	font-size: 13.5px;
}
.tablelist th {
	background: #e1e1e1;
	font-weight: normal;
	padding: 5px;
}
.tablelist td {
	padding: 5px;
	height: 23px;
	line-height: 21px;
	background: #fff;
}
.tablelist tr:hover {
	background: #e1e1e1;
}

a.left_button {
	background-color: #4cae4c;
	color: #fff;
	float: left;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	font-size: 13px;
	margin-bottom: 10px;
}
a.right_button {
	background-color: #1d96b8;
	color: #fff;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	font-size: 13px;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
.left_select {
	width: 150px;
	float: left;
	height: 30px;
	line-height: 28px;
	padding: 0;
	margin: 0;
	margin-right: 10px;
}

.search_box {
	border-radius: 10px;
	padding: 15px;
	background-color: #eee;
	border: 1px solid #e5e5e5;
	margin-top: 8px;
	text-align: center;
}
.search_box label {
	width: 31%;
	margin: 4px;
	display: inline-block;
	vertical-align: top;
}
.search_box label input {
	height: 35px;
	padding-bottom: 1px;
}
.search_box label input[type=submit] {
	height: 35px;
	line-height: 35px;
	font-size: 13px;
	font-weight: 400;
	background-color: #444;
	border-color: #444;
}
.search_box label input[type=submit]:hover {
	opacity: .7;
	transition: .3s;
}


.search_box input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-align: right;
    direction: rtl;
}

.search_box input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-align: right;
    direction: rtl;
}

.search_box input::-ms-input-placeholder { /* Microsoft Edge */
    text-align: right;
    direction: rtl;
}

a.a_button {
	display: inline-block;
	background-color: #1d96b8;
	color: #fff;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	font-size: 13px;
	margin-bottom: 10px;
	margin-top: 5px;
}
.adminlogo {
	width:125px;
	height:auto;
	float:right;
	margin:3px;
	margin-left: 10px;
	border-radius:15px;
}

.fishbox {
	background-color: #bbe7df;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	line-height: 35px;
	position: relative;
}
.fishbox input {
	height: 30px;
	line-height: 30px;
}
.fishbox a.close {
	position: absolute;
	top: 10px;
	left: 15px;
}
.fieldbox {
	display: block;
	background-color: #fff;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	direction: rtl;
	text-align: right;
		-webkit-box-shadow: 10px 10px 6px -9px rgba(0,0,0,0.05);
		-moz-box-shadow: 10px 10px 6px -9px rgba(0,0,0,0.05);
		box-shadow: 10px 10px 6px -9px rgba(0,0,0,0.05);
}
.fieldbox:hover {
	background-color: #f5f5f5;
	transition: .1s;
}
.fieldbox font {
	display: inline-block;
	width: 115px;
	border-left: 1px dotted #ddd;
	margin-left: 7px;
}




a.delfield {
	display: inline-block;
	width: 35px;
	height: 20px;
	line-height: 22px;
	font-size: 11px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #eb4034;
	color: #fff;
	border-radius:6px;
	opacity: 1;
	margin-left: auto;
	margin-right: auto;
}
a.delfield:hover {
	opacity: .7;
}
a.editfield {
	display: inline-block;
	width: 35px;
	height: 20px;
	line-height: 21px;
	font-size: 11px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #1d96b8;
	color: #fff;
	border-radius:6px;
	opacity: 1;
	margin-left: 5px;
	margin-left: auto;
	margin-right: auto;
}
a.editfield:hover {
	opacity: .7;
}


.fieldbox a.delfield {
	display: block;
	width: auto;
	height: 20px;
	line-height: 22px;
	font-size: 11px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #eb4034;
	color: #fff;
	border-radius:6px;
	float: left;
	opacity: .7;
}
.fieldbox:hover a.delfield {
	opacity: 1;
}
.fieldbox a.editfield {
	display: block;
	width: auto;
	height: 20px;
	line-height: 21px;
	font-size: 11px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #1d96b8;
	color: #fff;
	border-radius:6px;
	float: left;
	opacity: .7;
	margin-left: 5px;
}
.fieldbox:hover a.editfield {
	opacity: 1;
}


.fieldbox2 {
	background-color: #fff;
	margin-top: 0;
	margin-bottom: 0;
		-webkit-box-shadow: 10px 10px 6px -9px rgba(0,0,0,0.0);
		-moz-box-shadow: 10px 10px 6px -9px rgba(0,0,0,0.0);
		box-shadow: 10px 10px 6px -9px rgba(0,0,0,0.0);
}
.fieldbox2 font {
	color: #999;
	font-size: 13px;
}


.msgbox1 {
	direction: rtl;
	margin-top: 25px;
	max-width: 700px;
	background:#060;
	color:#FFF;
	border-radius: 10px;
	margin-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
}
.msgbox2 {
	background:#900;
	direction: rtl;
	margin-top: 25px;
	max-width: 700px;
	color:#FFF;
	border-radius: 10px;
	margin-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
}

.pagenum {
	display: inline-block;
	margin: 3px;
	width: 25px;
	height: 25px;
	line-height: 28px;
	overflow: hidden;
	text-align: center;
	border-radius: 50%;
	font-size: 12.5px;
	color: #333;
	background-color: #eee;
}

.loginimage {
	float: left;
	max-width: 340px;
	height: auto;
	border-radius: 10px;
}
.padding20 {
	padding: 20px;
}


/* ReSIZE*/
@media screen and (max-width: 720px) {
	.ifsmallnone {
		display: none;
	}
	body {
		background-size: 1200px auto;
	}
	.loginimage {
		float: none;
		display: block;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	#logo {
		margin-right: 5px;
		margin-left: 5px;
	}
	#content {
		margin-right: 5px;
		margin-left: 5px;
	}
	.padding20 {
		padding: 10px;
	}

	.search_box label {
		width: 45%;
	}
	.adminlogo {
		width:85px;
		height:85px;
		float:none;
		display: block;
		margin:3px;
		margin-left: 10px;
		border-radius:15px;
	}

	#content .loginform {
		margin-left: auto;
		margin-right: auto;
		max-width: 300px;
		float: none;
	}

}